.qodo
# Virtual environment files
venv/
.env/
ENV/
env/
*.venv/
myenv

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Testing
.coverage
htmlcov/
.pytest_cache/
__pycache__
catboost_info